{
    "presets": [
        "env"
    ],
    "plugins": [
        [
            "transform-runtime",
            {
                "helpers": false,
                "polyfill": false,
                "regenerator": true,
                "moduleName": "babel-runtime"
            }
        ],
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "es",
                "style": "css"
            }
        ],
        [
            "module-resolver",
            {
                "root": [
                    "."
                ],
                "alias": {
                    "components": "./client/components",
                    "config": "./config",
                    "store": "./client/store"
                }
            }
        ]
    ]
}