{
    "presets": [
        "env"
    ],
    "plugins": [
        "transform-runtime",
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "es",
                "style": "css"
            }
        ]
    ]
}